{% extends 'base.html' %}

{% load static %}

{% block main-content %}

<div class="container">
    <!--==========================Password Section Start======================================-->
    <div class="row">

        <!--=========================Sidebar and Heading Content Start======================-->
        <h4 class="mb-4">Welcome <span class="text-Capitalize">{{request.user.first_name}}</span></h4>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'changepassword' %}" class="btn btn-primary">Change Password</a></li>
            </ul>
        </div>
        <!--=========================Sidebar and heading content End==========================-->

        {% for x in data %}
        {% if forloop.counter == 1 %}

        <form action="/changepassword/{{x.id}}" method="POST">
            {% csrf_token %}
            <div class="col-sm-5 offset-sm-4 shadow-lg ">
                <!--=========================Error message start====================-->
                {% if errmsg %}
                <div class="alert alert-danger">
                    {{errmsg}}
                </div>
                {% endif %}
                <!--=========================Error message end====================-->

                <!--=========================Success message Start====================-->
                {% if success %}
                <div class="alert alert-success">
                    {{success}}
                </div>
                {% endif %}
                <!--=========================Success message End====================-->

                <h5 class="bg-light text-dark fw-bold p-2" style=" text-align: center;">Change a Password</h5>

                <!--=========================Username====================-->
                <div class="mb-3">
                    <b><label for="input1" class="form-label">Username :-</label></b>
                    <input type="text" class="form-control" name="uname" id="input1" placeholder="Enter Username"
                        value="{{x.username}}" style="width: 31vw; border: 1px solid; " readonly>
                </div>

                <!--=========================Old Password====================-->
                <div class="mb-3">
                    <b><label for="input2" class="form-label">Old Password :-</label></b>
                    <input type="password" class="form-control" name="passw" id="input2"
                        placeholder="Enter Old Password" style="width: 31vw; border: 1px solid;">
                </div>

                <!--=========================New Password====================-->
                <div class="mb-3">
                    <b><label for="input2" class="form-label">New Password :-</label></b>
                    <input type="password" class="form-control" name="newpass" id="input2"
                        placeholder="Enter New Password" style="width: 31vw; border: 1px solid;">
                </div>

                <!--=========================Confirm New Password====================-->
                <div class="mb-3">
                    <b><label for="input2" class="form-label">Confrim New Password :-</label></b>
                    <input type="password" class="form-control" name="confrimpass" id="input2"
                        placeholder="Enter Password Again" style="width: 31vw; border: 1px solid;">
                </div>
                <br>
                <!--=========================Change Password button====================-->
                <div style="text-align: center;">
                    <a href="/changepassworddone"><button class="btn btn-success ps-5 pe-5 ">Change
                        Password</button>
                    </a>
                </div>
                <br>
                {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
    <!--=======================================Password Section End=======================================-->
</div><br><br>

{% endblock main-content %}