{% extends 'base.html' %}

{% load static %}

{% block main-content %}

<div class="container">

    <!--===========================Messages of error and success Start========================-->
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    <!--===========================Messages of error and success End========================-->

    <div class="row mt-5">

        <!--=================================Order Summary Section Start=====================-->
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            {% for x in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Product: {{x.pid.name}}</h5>
                    <p>Quantity: {{x.quantity}}</p>
                    <p class="fw-bold">Price: {{x.pid.price}}</p>
                </div>
            </div>
            {% endfor %}

            <p class="fw-bold">Total Cost + Rs. 40 = {{totalamount}}</p>
            <b>Terms and Conditions: [Yummy Restaurant]</b>
            <p>
                By using this website, you agree to comply with our policies and guidelines.
                
                All orders are subject to availability, and prices are inclusive of applicable taxes.
                
                We reserve the right to modify these terms at any time.
            </p>
        </div>
        <!--=================================Order Summary Section End=====================-->

        <!--=================================Select Shipping Address and payment Section Start=====================-->
        <div class="col-sm-4 offset-am-1">
            <h4>Select Shipping Address</h4>
            <hr>

            <form method="post" id="myform" action="">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <h5>{{ad.name}}</h5>
                        <p>Mobile : {{ad.mobile}}</p>
                        <p>{{ad.locality}} {{ad.city}} {{ad.state}} - {{ad.zipcode}} </p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}"
                        value="{{ad.id}}">
                    <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                        Address: {{forloop.counter}}
                    </label>
                </div>
                {% endfor %}

                <div class="form-check mb-3">
                    <label for="totamount" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" name="totamount" value={{totalamount}} readonly>
                </div>
                <div class="text-end">
                    <!--<button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>-->
                    <button id="rzp-button1" type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Payment</button>
                </div>
            </form>
        </div>
        <!--=================================Select Shipping Address and payment Section End=====================-->
    </div>
</div>

{% endblock main-content %}

{% block payment-gateway %}

<!--=================================Razorpay payment Section Start=================================-->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "rzp_test_YvjZinDbG3pKzW", // Enter the Key ID generated from the Dashboard
        "amount": "{{razoramount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Yummy  Restaurant",
        "description": "Purchase Product",
        "image": "https://example.com/your_logo",
        "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            console.log("success")
            var form = document.getElementById("myform");

            //alert(response.razorpay_payment_id);
            //alert(response.razorpay_order_id);
            //alert(response.razorpay_signature)
            var cust_id = form.elements["custid"].value;  // Ensure this line retrieves the correct value
            window.location.href = "http://localhost:8000/paymentdone?order_id=" + response.razorpay_order_id + "&payment_id=" + response.razorpay_payment_id + "&cust_id=" + cust_id;
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>

<!--=================================Razorpay payment Section End=====================-->

{% endblock payment-gateway %}