{% load static %}

<body>
    <!--========================================Footer Start=====================================-->
    <div class="row mt-5 bg-light p-3" id="footer">
        <div class="col-4" style="text-align: start;">
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address</h5>
            <hr>
            <pre style="color:black;">
            Yummy Food Restaurant
            Chiplun Dist.Ratnagiri
            State - MH
            PIN - 415605</pre>
            <pre
                style="margin-left: 20%; text-align: start;"><i class="bi bi-telephone text-primary">&nbsp;&nbsp;&nbsp;&nbsp;</i>9987867568</pre>
            <pre
                style="margin-left: 20%; text-align: start;"><i class="bi bi-envelope text-primary">&nbsp;&nbsp;&nbsp;&nbsp;</i>abc@gmail.com</pre>
        </div>
        <div class="col-4">
            <h5>Quick Links</h5>
            <hr>
            <p><a href="/home" style="text-decoration: none;">Home</a></p>
            <p><a href="/menu" style="text-decoration: none;">Menu</a></p>
            <p><a href="#" style="text-decoration: none;">About</a></p>
            <p><a href="#" style="text-decoration: none;">Contact</a></p>
        </div>
        <div class="col-4">
            <h5>Connect Us</h5>
            <hr>
            <a class="btn  btn-outline-primary me-2 btn-md-square rounded-circle" href="https://www.twitter.com/"><i
                    class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-primary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-primary me-2 btn-md-square rounded-circle" href="https://www.youtube.com/"><i
                    class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-primary btn-md-square rounded-circle" href="https://www.linkedin.com/"><i
                    class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    <!--============================================Footer end================================================-->
    </footer>

    <!--=======================================Copyright Start==================================================-->
    </div>
    <div class="row text-center bg-dark text-light">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="copyright-inner">
                <div class="copy-right mt-3">
                    <p>© 2024 Yummy Restaurant. All Rights Reserved. Developed By <a href="#">Tejashri Shinde</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--=======================================Copyright End==================================================-->


    <!--=======================================Script Link Start==================================================-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--=======================================Script Link End==================================================-->

</body>