{% extends 'base.html' %}

{% load static %}

{% block main-content %}

<div class="container">
    <div class="row">

        <!--=======================================Sidebar and heading section Start==================================================-->
        <h4 class="mb-4">Welcome <span class="text-Capitalize">{{request.user.first_name}}</span></h4>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
            </ul>
        </div>
        <!--=======================================Sidebar and heading section End==================================================-->


        <!--=======================================Display ordered products details Start==================================================-->
        <div class="col-sm-9 offset-sm-1">
            {% for op in order_placed %}
            <div class="row">
                <div class="col-sm-2">
                    <img src="{{op.menu.image.url}}" class="img-fluid" height="100" width="100" alt="">
                </div>
                <div class="col-sm-7">
                    <p>Product : {{op.menu.name}}</p>
                    <p>Quantity : {{op.quantity}}</p>
                    <p>Price : {{op.menu.price}}</p>
                </div>

                <!--============================Progress bar start============================-->
                <div class="col-sm-3">
                    <p>Order Status : {{op.status}}</p>
                    {% if op.status == 'Accepted' %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endif %}

                    {% if op.status == 'On the Way' %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endif %}

                    {% if op.status == 'Delivered' %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endif %}

                    {% if op.status == 'Cancel' %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endif %}
                </div>
                <!--============================Progress bar End============================-->

            </div>
            {% endfor %}
        </div>
        <!--=======================================Display ordered products details End==================================================-->
    </div>
</div>

{% endblock main-content %}